html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding-top: 3rem;
}

.robot {
  width: 320px;
  display: block;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  top: 20%;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 30%;
}

.robot-head-right {
  right: 35px;
}

.robot-head-left {
  left: 35px;
}
